.Background-Container {
    background: linear-gradient(#00000000 5%, #0000008a 10%, #000000d6 80%);
    backdrop-filter: blur(4px);
}

h4 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

.events-container {
    width: 100%;
    padding: 4rem 10rem;
    color: #333;
    font-family: Arial, sans-serif;
    height: calc(100vh - 50px);
    overflow-y: auto;

    h1 {
        color: white;
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        margin: 50px auto;
    }
}

.event-card {
    position: relative;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.81);
    border: 1px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.115);
    border-radius: 8px;

    p {
        color: #ffffff;
        font-size: 0.9rem;
        padding-right: 50px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 30px 20px 30px;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.event-date {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 30px 30px;
    width: 100%;

    .day,
    .month,
    .year {
        display: flex;
        justify-content: center;
        color: white;
    }

    .day {
        font-size: 6rem;
        font-weight: 900;
        color: rgb(207, 60, 114);
    }

    .month {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 900;
    }

    .year {
        text-transform: uppercase;
        font-size: 2.6rem;
        font-weight: 900;
    }

    .event-time {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 900;
        background-color: rgb(207, 60, 114);
        padding: 20px;
        border-radius: 8px;

    }

}

.location {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.location-icon {
    font-size: 1rem;
    color: rgb(207, 60, 114);
    margin-right: 5px;
}

.center-button {
    display: flex;
    justify-content: center;
}

.organize-button {
    margin-bottom: 50px;
    padding: 15px 20px;
    color: white;
    font-size: 1rem;
    border: 1px solid rgb(207, 60, 114);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.81);
    text-transform: uppercase;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, padding 0.3s;
    cursor: pointer;

    &:hover {
        background-color: rgba(180, 55, 101, 0.548);
        backdrop-filter: blur(4px);
        transform: scale(1.05);
    }
}

.dots {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.not-events {
    text-align: center;
    color: rgb(207, 60, 114);
}


// MEDIA QUERIES

@media (max-width: 960px) {

    .event-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .events-container {
        padding: 4rem;
    }

}

@media (max-width: 640px) {

    .event-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .events-container {
        padding: 2rem;
    }

}