.Background-Container {
    background: linear-gradient(#00000000 5%, #0000008a 10%, #000000d6 80%);
    backdrop-filter: blur(4px);
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

    h4 {
        margin-top: 0;
        color: white;
        text-transform: uppercase;
        padding-bottom: 20px;
        font-size: 1.2rem;
    }
}

.event-grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.events-container {
    width: 100%;
    padding: 4rem 10rem;
    color: #333;
    font-family: Arial, sans-serif;
    height: calc(100vh - 50px);
    overflow-y: auto;

    .info-container {
        background-color: white;
    }

    h1 {
        color: white;
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        margin: 50px;
    }
}

.event-card {
    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.81);
    border: 1px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.115);
    border-radius: 0 8px 8px 0;
    height: 230px;

    h2 {
        margin-top: 0;
        color: white;
        text-transform: uppercase;
        padding-bottom: 20px;
        font-size: 1.5rem
    }

    p {
        color: #ffffff;
        font-size: 0.9rem;
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
    }    
}

.event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .day {
        font-size: 4rem;
        font-weight: 800;
        padding-top: 10px;
    }

    .month {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    .year {
        font-size: 2rem;
    }

    .month,
    .day,
    .year {
        color: black;
    }
}

.event-time {
    background-color: rgb(207, 60, 114);
    color: white;
    margin-top: 30px;
    text-align: center;
    padding: 22px 50px;
    display: flex;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.location {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.location-icon {
    font-size: 1rem;
    color: rgb(207, 60, 114);
    margin-right: 5px;
}

.center-button {
    display: flex;
    justify-content: center;
}

.organize-button {
    margin-bottom: 50px;
    padding: 15px 20px;
    color: white;
    font-size: 1rem;
    border: 1px solid rgb(207, 60, 114);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.81);
    text-transform: uppercase;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, padding 0.3s;
    cursor: pointer;

    &:hover {
        background-color: rgba(180, 55, 101, 0.548);
        backdrop-filter: blur(4px);
        transform: scale(1.05);
    }

}


// MEDIA QUERIES

@media (max-width: 960px) {

    .events-container {
        padding: 4rem;
    }

}

@media (max-width: 640px) {

    .events-container {
        padding: 2rem;
    }
    
}