.Background-Container {
    background: linear-gradient(#00000000 5%, #0000008a 10%, #000000d6 80%);
    backdrop-filter: blur(4px);
}

.events-container {
    width: 100%;
    padding: 4rem;
    color: #333;
    font-family: Arial, sans-serif;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.info-container {
    background-color: white;
}

.event-grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 40px;
}

.event-card {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.81);
    border: 1px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.115);
    border-radius: 0 8px 8px 0;
}

.event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event-date .day {
    font-size: 4rem;
    font-weight: 800;
    padding-top: 10px;
}

.event-date .month {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
}

.event-date .year {
    font-size: 2rem;
}

.event-date .month,
.event-date .day,
.event-date .year {
    color: black;
}

.event-time {
    background-color: rgb(207, 60, 114);
    color: white;
    margin-top: 15px;
    text-align: center;
    padding: 15px 50px;
}

.event-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location {
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.location-icon {
    font-size: 1rem;
    color: rgb(207, 60, 114);
    margin-right: 5px;
}

.events-container h1 {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

.event-card h2 {
    margin-top: 0;
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.event-card p {
    color: #ffffff;
    font-size: 0.9rem;
}

.center-button {
    display: flex;
    justify-content: center;
}

.organize-button {
    margin-bottom: 50px;
    color: white;
    font-size: 1rem;
    border: 1px solid rgb(207, 60, 114);
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.81);
    text-transform: uppercase;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, padding 0.3s;
    cursor: pointer;

    &:hover {
        background-color: rgba(180, 55, 101, 0.548);
        backdrop-filter: blur(4px);
        transform: scale(1.05);
    }

}

// .participate-button {
//     display: flex;
//     justify-content: center;
//     width: 120px;
//     padding: 8px 16px;
//     font-size: 0.9rem;
//     border-radius: 4px;
//     background-color: rgb(207, 60, 114);
//     color: white;
//     border: none;
//     text-transform: uppercase;
//     cursor: pointer;
//     transition: background-color 0.3s, transform 0.3s;

//     &:hover {
//         background-color: rgba(207, 60, 114, 0.8);
//         transform: scale(1.05);
//     }
// }



// MEDIA QUERIES

@media (max-width: 960px) {

    .events-container h1 {
        padding-left: 50px;
    }

    .center-button {
        padding-left: 50px;
    }

    .popup {
        padding-left: 50px;
    }

}

@media (max-width: 640px) {

    .events-container h1 {
        padding-left: 0;
    }

    .center-button {
        padding-left: 0;
    }

    .event-grid {
        padding-left: 0;
    }

    .popup {
        padding-left: 0;
    }

}