.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .jumbotron {
        margin-top: 50px;
        width: 70%;
        text-align: center;
    }

    .title {
        font-size: 2rem;
        font-family: "Julius Sans One", sans-serif, Arial, Helvetica, sans-serif;
        text-align: center;

        @media (max-width: 640px) {
            font-size: 1.2rem;
            white-space: nowrap;
        }
    }

    .button-home {
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        color: white;
        font-size: 1rem;
        border: 1px solid white;
        padding: 15px 20px;
        border-radius: 20px;
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.548);
        backdrop-filter: blur(4px);
        box-shadow: 0 4px 6px rgba(7, 1, 23, 0.358);
        text-transform: uppercase;
        transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, padding 0.3s;
        animation: fadeIn 2s;

        .fa-arrow-right {
            transition: transform 0.3s ease-in-out;
        }
    }

    .button-container {
        display: flex;
        justify-content: center;
    }

    .button-home:hover {
        background-color: rgba(180, 55, 101, 0.548);
        backdrop-filter: blur(4px);
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.358);
        transform: scale(1.05);

        .fa-arrow-right {
            transform: translateX(5px);
        }
    }
}