a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

li {
  list-style: none;
}

h1 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}