a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

li {
  list-style: none;
}

h1 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.error{
  color: rgb(207, 60, 114);
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 20px;
}